<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyApp</title>
        
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">

        <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="MyApp">
        <h1 id="title">MyApp</h1>
        <!-- Vendor Scripts -->
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/main.js"></script>
        <!-- Controllers -->
        <script type="text/javascript" src="js/controllers/MainController.js"></script>
        <!-- Services -->
        <script type="text/javascript" src="js/services/RestApiService.js"></script>
    </body>
</hmtl>